html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  font-family: 'Comfortaa', sans-serif;
  background-image: url('/media/ahoy-there.gif');
  background-size: cover;
  background-position: -11px 0px;
}

@media (max-width: 900px) {
  .wrapper {
    background-position: -50px 0px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    background-position: -190px 0px;
  }
}

.wrapper > h1 {
  padding-left: 10px;
  font-size: 21vw;
  color: white;
  margin: 0;
}
