/* comfortaa-regular - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/comfortaa-v38-latin-regular.woff2') format('woff2'),
    url('/fonts/comfortaa-v38-latin-regular.woff') format('woff');
}
/* comfortaa-700 - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/comfortaa-v38-latin-700.woff2') format('woff2'),
    url('/fonts/comfortaa-v38-latin-700.woff') format('woff');
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  position: relative;
  font-family: Comfortaa, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
}

.wrapper > h1 {
  position: absolute;
  top: 1.8vw;
  left: 2vw;
  font-size: 21vw;
  color: white;
  margin: 0;
}

.wrapper > video {
  display: block;
  object-fit: cover;
  height: max(100vh, calc(0.75 * 100vw));
  width: calc(100% + 200px);
  object-position: -200px;
}

@media (min-width: 640px) {
  .wrapper > video {
    width: calc(100% + 150px);
    object-position: -150px;
  }
}

@media (min-width: 768px) {
  .wrapper > video {
    width: calc(100% + 100px);
    object-position: -100px;
  }
}

@media (min-width: 1024px) {
  .wrapper > video {
    width: calc(100% + 50px);
    object-position: -50px;
  }
}

@media (min-width: 1280px) {
  .wrapper > video {
    width: 100%;
    object-position: 0;
  }
}
