/* comfortaa-regular - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/comfortaa-v38-latin-regular.woff2') format('woff2'),
    url('/fonts/comfortaa-v38-latin-regular.woff') format('woff');
}
/* comfortaa-700 - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/comfortaa-v38-latin-700.woff2') format('woff2'),
    url('/fonts/comfortaa-v38-latin-700.woff') format('woff');
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  font-family: Comfortaa, sans-serif;
}

.wrapper > h1 {
  position: fixed;
  top: 5px;
  left: 10px;
  font-size: 21vw;
  color: white;
  margin: 0;
  z-index: 1;
}

.wrapper > video {
  position: fixed;
  top: 0;
  left: -200px;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

@media (min-width: 640px) {
  .wrapper > video {
    left: -150px;
    min-width: calc(100% + 150px);
  }
}

@media (min-width: 768px) {
  .wrapper > video {
    left: -100px;
    min-width: calc(100% + 100px);
  }
}

@media (min-width: 1024px) {
  .wrapper > video {
    left: -50px;
    min-width: calc(100% + 50px);
  }
}

@media (min-width: 1280px) {
  .wrapper > video {
    left: 0;
  }
}
